{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is client page<br/><br/>


    <table style="text-align:center; border-collapse:collapse; border:2px solid black;">
        <tr style="text-align: center;">

            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> id </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> name </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> address!!!!!!! </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> phone </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> delete </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> edit </th>

        </tr>
        {% for client in clients %}

           <tr>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ client.id }} </td>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ client.name }} </td>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ client.address }} </td>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ client.phone }} </td>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> <a href="/client/delete/{{client.id}}">del pos</a></td>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> <a href="{{ path("_client_edit", {id: client.id}) }}">edit client{{ client.id }}</a></td>

           </tr>

        {% endfor %}

    </table>

    <br/><br/><br/> <a href="/client_create">create new client</a>


{% endblock %}

{% block m7 %}
    <b>CLIENTS</b>

{% endblock %}

{% block title %}client{% endblock %}