{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is Our  page<br/><br/>


    <table style="text-align:center; border-collapse:collapse; border:2px solid black;">
        <tr style="text-align: center;">

            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> id </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> title </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> url </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> author </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> category </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> delete </th>
            <th style="padding-left:25px; padding-right:25px; border-bottom:2px solid #000000; border-left:2px solid #000000;"> edit </th>

        </tr>
        {% for site in sites %}

           <tr>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ site.id }} </td>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ site.title }} </td>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ site.url }} </td>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ site.author }} </td>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> {{ site.category }} </td>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> <a href="/site/delete/{{site.id}}">del pos</a></td>
              <td style="border-bottom:2px solid #000000; border-left:2px solid #000000;"> <a href="{{ path("_site_edit", {id: site.id}) }}">edit site{{ site.id }}</a></td>

           </tr>

        {% endfor %}

    </table>

    <br/><br/><br/> <a href="/site_create">create new Our Site</a>


{% endblock %}

{% block m8 %}
    <b>OUR SITES</b>{% endblock %}

{% block title %}site{% endblock %}