{% extends "@BurutMenu/burut_layout.html.twig" %}

{% block content %}
    This is Our Team page<br/><br/>

    {% if id==0 %}
        <div style="color: red;"><h1>not found!</h1></div>
    {% else %}

        <table style="text-align:center; border-collapse:collapse; border:2px solid black;">
            <tr style="text-align: center;">
                <td class="td1"> id </td>
                <td class="td2"> {{ id }} </td>
            </tr>
            <tr style="text-align: center;">
                <td class="td1"> name </td>
                <td class="td2"> {{ ourteam.name }} </td>
            <tr style="text-align: center;">
                <td class="td1"> position </td>
                <td class="td2"> {{ ourteam.position }} </td>
            </tr>
            <tr style="text-align: center;">
                <td class="td1"> age </td>
                <td class="td2"> {{ ourteam.age }} </td>
            </tr>
            <tr style="text-align: center;">
                <td class="td1"> photo </td>
                <td class="td2"> <img width="80px" height="80px" src=" {{ ourteam.photo }} "> </td>
            </tr>
            <tr style="text-align: center;">
                <td class="td1"> bio </td>
                <td class="td2"> {{ ourteam.bio }} </td>
            </tr>
        </table>
    {% endif %}

{% endblock %}

{% block m6 %}
    <b>Our Team</b>
{% endblock %}

{% block title %}Our Team{% endblock %}